/* Estilo general de la tarjeta */
.card {
    border-radius: 12px;
    overflow: hidden; /* Evita que la imagen sobresalga */
  }
  
  /* Contenedor de la imagen para manejar el efecto de zoom */
  .card-img-top {
    width: 100%;
    height: 200px; /* Mantiene la imagen del mismo tamaño */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    transition: transform 2s ease-in-out; /* Agrega una animación suave */
    transform-origin: bottom; /* Fija la base de la imagen */
  }
  
  /* Efecto de zoom cuando el mouse está sobre la tarjeta */
  .card:hover .card-img-top {
    transform: scale(1.3); /* Aumenta un 10% el tamaño */
  }
  
  /* Ajustes en los párrafos de información */
  .card-body p {
    margin-bottom: 8px; /* Espacio entre elementos */
    font-size: 0.95rem;
  }
  
  /* Estilo del texto de "Ver más" */
  .card-body a {
    display: inline-block;
    margin-top: 8px;
    color: #6f42c1; /* Color morado Bootstrap */
    transition: color 0.3s ease-in-out;
  }
  
  /* Cambio de color en "Ver más" al pasar el mouse */
  .card-body a:hover {
    color: #4a2f8f;
  }
  
  .custom-badge {
    background-color: #21377f; /* Naranja */
    color: white;
    opacity: 0.8; /* Reduce la opacidad al 80% */
  }

/*  .card-body {
    font-family: 'Avenir', 'Futura', 'Century Gothic', sans-serif;
  }*/

  .logo-brand {
    animation: logo-spin infinite 20s linear;
    height: 20px; 
  }
  
  .card {
    border-radius: 0; /* Elimina los bordes redondeados */
  }
  
  #see-more {
    color: #21377f;
    opacity: 0.8;
    font-weight: bold;  /* Hace el texto en negrita */
    text-decoration: none; /* Quita el subrayado */
}
